@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
}
