@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: 2rem;
  @apply relative overflow-x-hidden;
}

*::-webkit-scrollbar {
  @apply block w-0 md:w-[6px];
}

*::-webkit-scrollbar-thumb {
  @apply rounded-md bg-[#7A3199];
}

#review .splide__slide.is-active {
  @apply rounded-[10px] shadow-[0px_16px_40px_0px_rgba(154,148,148,0.25)] overflow-hidden;
}
#review .splide__slide {
  @apply my-16;
}

#review .pagination {
  @apply absolute left-1/2 -translate-x-1/2 bottom-1 flex gap-6 h-[10px];
}

#review .pagination > li {
  @apply flex justify-center items-center;
}

#review .pagination-page {
  /* drop-shadow-[0_0px_2px_rgba(0,0,0,0.5)] */
  @apply rounded-full w-[15px] h-[15px] bg-[#EEEEEE] transition-colors duration-300 overflow-hidden;
}

#review .pagination-page.is-active {
  @apply  bg-[#7A3199];
}
