@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
	scrollbar-width: 2rem;
}

html::-webkit-scrollbar {
	@apply block w-[6px];
}

html::-webkit-scrollbar-thumb {
	@apply rounded-md bg-[#7A3199];
}

#review .splide__slide.is-active {
	@apply shadow-[0px_16px_40px_0px_rgba(154,148,148,0.25)];
}
#review .splide__slide {
	@apply my-16;
}

#review .pagination {
	@apply absolute left-1/2 -translate-x-1/2 bottom-1 flex gap-6 h-[10px];
}

#review .pagination > li {
	@apply flex justify-center items-center;
}

#review .pagination-page {
	/* drop-shadow-[0_0px_2px_rgba(0,0,0,0.5)] */
	@apply rounded-full w-[15px] h-[15px] bg-[#EEEEEE] transition-colors duration-300;
}

#review .pagination-page.is-active {
	/* drop-shadow-[0_0px_4px_rgba(37,99,235,0.2)] */
	@apply bg-[#7A3199];
}
